otp_pony_node
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.dSYM**
obj/
*.pony_
*.so
ttb_last_config
.vagrant/
*.log
*.tmp
otp_pony_node_c.dll
!src/find_latest_erl_interface/find_latest_erl_interface.exe
!premake/windows/premake5.exe
otp_pony_node_test
